@media (max-width: 1200px) {
    .container {
        max-width: 880px;
    }

    .catalog {
        &__content {
            justify-content: center;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 670px;
    }

    .advantages {
        &__item {
            max-width: 215px;
        }
    }

    .carousel .next,
    .carousel .prev {
        display: none;
    }

}


@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }

    .header {
        &__official {
            display: none;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            margin-top: 30px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: none;
    }

    .title {
        &_left {
            font-size: 20px;
        }
    }

    .button {
        &_main {
            margin-top: 14px;
            width: 260px;
        }
    }

    .header {
        flex-direction: column;

        &__contacts {
            margin-top: 20px;
        }
    }

    .promo {
        padding: 10px 32px;

        &__wrapper {
            margin-top: 40px;
            align-items: center;
        }

        &__header {
            font-size: 22px;
        }

        &__subheader {
            font-size: 16px;
        }

        &__icons {
            width: 300px;
            margin-top: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .advantages {
        &__wrapper {
            margin-top: 5px;
        }

    }

    .consultation {
        padding: 50px 20px;

        &__descr {
            font-size: 16px;
        }
    }

    .feed-form {
        width: 260px;
    }

    .carousel {
        .tns-item {
            img {
                max-width: 100%;
            }
        }
    }

    .catalog {
        .title {
            font-size: 25px;
        }

        &__tabs {
            margin-top: 35px;
            flex-direction: column;
            padding-left: 0;
        }

        &__tab {
            margin-bottom: 10px;
        }

        &-item {
            width: 240px;
        }
    }

    .feedback {
        padding: 30px;

        .title {
            font-size: 25px;
        }

        &__item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__text {
            margin-top: 40px;
        }
    }

    .footer {
        &__info {
            width: 94vw;
            height: 250px;
            padding: 25px;
        }
    }

    .modal {
        width: 270px;

        .feed-form {
            width: 190px;
        }
    }
}